<launch>
    <arg name="map" default="env" />
    <node pkg="move_base" type="simple_move_base" name="simple_move_base" respawn="false" output="screen">
        <rosparam file="$(find isaac_sim)/config/simple_costmap.yaml" command="load" ns="costmap" />
    </node>
    <node pkg="map_server" type="map_server" name="map_server" args="$(find isaac_sim)/map/$(arg map).yaml" />
    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find isaac_sim)/rviz/simple.rviz" output="screen" />
</launch>